In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [41]:

blood = pd.read_csv('blood.csv')
test_blood = pd.read_csv('test_blood.csv')

In [42]:
# print blood.columns
blood.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [43]:

blood.rename(columns={'Unnamed: 0': 'Donor_ID'}, inplace=True)
blood.rename(columns={'Months since Last Donation': 'Months_Since_Last'}, inplace=True)
blood.rename(columns={'Number of Donations': 'No_of_Donations'}, inplace=True)
blood.rename(columns={'Total Volume Donated (c.c.)': 'Total_Volume'}, inplace=True)
blood.rename(columns={'Months since First Donation': 'Months_Since_First'}, inplace=True)
blood.rename(columns={'Made Donation in March 2007': 'Made_Donation'}, inplace=True)

test_blood.rename(columns={'Unnamed: 0': 'Donor_ID'}, inplace=True)
test_blood.rename(columns={'Months since Last Donation': 'Months_Since_Last'}, inplace=True)
test_blood.rename(columns={'Number of Donations': 'No_of_Donations'}, inplace=True)
test_blood.rename(columns={'Total Volume Donated (c.c.)': 'Total_Volume'}, inplace=True)
test_blood.rename(columns={'Months since First Donation': 'Months_Since_First'}, inplace=True)
test_blood.rename(columns={'Made Donation in March 2007': 'Made_Donation'}, inplace=True)

In [44]:

# bins = [-1, 2, 7, 14, 74]
# group_names = ['0 - 2 mths', '2 - 7 mths', '7 - 14 mths', '14 - 74 mths']
# blood['period'] = pd.cut(blood['Months_Since_Last'], bins, labels=group_names)
# blood.pivot_table(values='Made_Donation', index='period', aggfunc=np.mean)

In [45]:
X_train = blood.drop("Made_Donation", axis=1)
Y_train = blood["Made_Donation"]
X_test  = test_blood
print X_train.shape, Y_train.shape, X_test.shape

(576, 5) (576,) (200, 5)

In [46]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
print "KNN: %r "  % (acc_knn)

KNN: 83.16